/**
 * @file
 * Stylesheet for the Contextual module.
 */

/**
 * Contextual links regions.
 */
.contextual-links-region {
  outline: none;
  position: relative;
}

.contextual-links-region-active {
  outline: #999 dashed 1px;
}

/**
 * Contextual links.
 */
.contextual-links-region .contextual-links-wrapper {
  display: none;
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 999;
}

.js .contextual-links-region .contextual-links-wrapper {
  display: block;
}

.contextual-links-region .contextual-links-trigger {
  position: relative;
  z-index: 5;
  display: none;
  width: 40px; /* IE8 fallback */
  width: 2.5rem;
  height: 40px;  /* IE8 fallback */
  height: 2.25rem;
  overflow: hidden;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0 2px; /* IE8 fallback */
  padding: 0 0.125rem;
  outline: none;
  text-indent: -9999em;
  text-align: left;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.7);
  transition: background-color 0.2s;
  will-change: background;
}

.contextual-links-region .contextual-links-trigger:before {
  content: '';
  position: absolute;
  /* Center Logo */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  /* Icon dimensions */
  width: 28px;
  height: 18px;
  background: url(../../images/gear-select.png) no-repeat center top;
  opacity: 0.7;
  transition: opacity 0.2s;
  will-change: opacity;
}

.contextual-links-region .contextual-links-trigger:hover {
  background: #ffffff;
}

.contextual-links-region .contextual-links-trigger:hover:before,
.contextual-links-region .contextual-links-active .contextual-links-trigger:before {
  opacity: 1;
}

.contextual-links-region .contextual-links-active .contextual-links-trigger {
  background-color: #fff;
  border-color: #ccc;
  border-bottom-color: #fff;
  position: relative;
}

.contextual-links-region .contextual-links-wrapper .contextual-links {
  position: absolute;
  top: 36px;
  top: 2.25rem;
  top: calc(2.25rem - 1px); /* Hides border where tab overlaps */
  left: 0;
  display: none;
  margin: 0;
  z-index: 4;
  padding: 0.25em 0;
  border: 1px solid #ccc;
  text-align: left; /* LTR */
  white-space: nowrap;
  background-color: #fff;
}

[dir="rtl"] .contextual-links-region .contextual-links {
  text-align: right;
}

.contextual-links-region .contextual-links-trigger-active,
.contextual-links-region .contextual-links-active .contextual-links-trigger,
.contextual-links-region .contextual-links-active .contextual-links {
  display: block;
}

.contextual-links-region .contextual-links li {
  line-height: 100%;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.contextual-links-region .contextual-links-wrapper a {
  text-decoration: none;
}

.contextual-links-region .contextual-links li a {
  color: #333 !important;
  display: block;
  padding: 0.5em 1em 0.5em 0.5em; /* LTR */
  text-indent: 0;
}

[dir="rtl"] .contextual-links-region .contextual-links li a {
  padding: 0.5em 0.5em 0.5em 1em;
}

.contextual-links-region .contextual-links li a:hover {
  background-color: #bfdcee;
}
