/**
 * Custom Content Teasers Component
 * @todo create config to make this work
 */
.content-teasers-wrapper {
  padding: 0 1em;
  list-style: none;
}

@media (min-width: 45em) {
  .content-teasers-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.content-teaser-wrapper {
  padding: 0.5em 1em 1.5em;
}

@media (min-width: 45em) {
  .content-teaser-wrapper {
    padding: 0 1em;
  }
}
@media (min-width: 55em) {
  .content-teaser-wrapper {
    padding: 0 1.5em;
  }
}
.content-teaser-headline {
  margin: 0 0 0.7em;
}

.content-teaser-headline a {
  text-decoration: none;
}

.content-teaser p {
  margin: 0;
}
